@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 85vw;
    margin: 0 auto;
    font-family: 'Raleway', Arial, sans-serif;
}

.name {
    margin-bottom: 3.5rem;
}

.cabecalho {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    letter-spacing: 4px;
}

.title {
    color: rgba(113, 113, 113, 0.72);
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.my-name {
    color: rgba(31, 31, 31, 0.72);
    font-size: 2rem;
}

.contact-itens {
    border: 0.5px solid rgba(142, 142, 142, 0.412);
    padding: 8px 0 8px 0;
}

.contact-itens a {
    text-decoration: none;
    color: black;
    padding: 8px 50px 8px 50px;
}

.contact-itens a:hover {
    background-color: rgba(119, 119, 119, 0.211);
    transition: 0.5s;
}

.text-about {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;
    width: 50vw;
    margin: 0 auto;
    justify-content: space-around;
}

.text-about p {
    font-weight: 600;
    font-size: 1.2em;
    text-align: justify;
    letter-spacing: 1px;   
}

.hard-skills {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hard-skills h1 {
    font-size: 2em;
}

footer {
    height: 30vh;
}