@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
}

.name {
    margin-bottom: 3.5rem;
}

.cabecalho {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    letter-spacing: 4px;
}

.titleh1  {
    font-size: 2.5em;
}

.title {
    color: rgba(113, 113, 113, 0.72);
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.my-name {
    color: rgba(31, 31, 31, 0.72);
    font-size: 2rem;
}

.contact-itens {
    border: 0.5px solid rgba(142, 142, 142, 0.412);
    padding: 8px 0 8px 0;
}

.contact-itens a {
    text-decoration: none;
    color: black;
    padding: 8px 50px 8px 50px;
}

.contact-itens a:hover {
    background-color: rgba(119, 119, 119, 0.211);
    transition: 0.5s;
}

.text-about {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.5em;
    width: 50vw;
    margin: 0 auto;
    justify-content: space-around;
}

.text-about p {
    font-weight: 600;
    font-size: 1.2em;
    text-align: justify;
    letter-spacing: 1px;   
}

.hard-skills {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(233, 233, 233, 0.882);
}

.baloons {
    display: flex;
    justify-content: space-around;
    width: 55vw;
}

.baloon {
    height: 30vh;
    background-color: white;
    width: 10vw;
    padding: 10px;
    box-shadow: 5px 10px 18px #bbbbbbb1;
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid rgba(117, 117, 255, 0.599);
}

.baloon p {
    font-weight: bolder;
    font-size: 2em;
}

.baloon:hover {
    transform: scale(110%);
    cursor: pointer;
}

.baloon i {
    font-size: 7em;
}

.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(233, 233, 233, 0.882);
    padding: 50px;
}

.projects p {
    font-size: 1.5em;
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
}

.grid {
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
}

.grid img{
    width: 25%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #bbbbbbb1;
}

.grid img:hover {
    transform: scale(120%);
    cursor: pointer;
}

.contact {
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}

.contact img {
    width: 10%;
    height: 30%;
    border-radius: 100%;
    box-shadow: 5px 10px 18px #bbbbbbb1;
}

.entreemcontato {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.entreemcontato p {
    font-size: 1.3em;
}

.contact-icons {
    text-align: center;
}

.contact-icons i{
    font-size: 1.3em;
}

.contact-icons a {
    text-decoration: none;
    color: black;
}

footer {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(233, 233, 233, 0.882);
}